.main-form-header{    
  min-width: 320px;
  min-height: 15vh; 
  grid-area: Head;
  background-color: #9395D3;
  color: #FFFFFF;

  font-family: 'Jost', sans-serif;  

  display: grid;
  grid-template-areas: "BtnBack Logo";
  grid-template-columns: 20vw auto;
  align-items: center;
}

.main-form-header__logo {
  grid-area: Logo;   
}

.header-logo {
  font-size: 3.0em;
}

.main-header-form__btn-back {
  grid-area: BtnBack;
  height: 100%;

  display: grid;
  align-content: center;
  justify-content: start;
  padding-left: 5vw;
}

.header-btn-back {
  display: inline-block;
  background-image: url(./source/turn_backPage_btn.svg); 
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  width: 5vh;
  height: 5vh;
  border: 0;
  border-radius: 50%;

  background-color: #9395D3;
  color: #EBEBF5;
  font-size: 3.0em;
  font-family: 'Jost', sans-serif; 
  text-align: center;
}

.main-content-form__form {
  min-width: 320px;
  grid-area: Main;
  margin-top: 10px;

  display: grid;
  gap: 5vh 0px;
  align-items: start;
  justify-content: center;
  justify-self: center;
  width: 95vw;    
} 

.main-form {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 2vw;
  justify-content: center;
}
