.svg-button {
  stroke: #9395D3;
  width: 25px; 
  height: 25px; 
}
.svg-button:hover {  
  stroke: #6AB8D4;
}

.important {
  stroke: #6AB8D4;
  color: #6AB8D4;
}

.complete {
  stroke: #8ec86d;
  fill: #dcf0d0;
  color: #8ec86d;
}

