.search-block {
    background-color: #FFFFFF;
    padding: 10px 0px;
    
    display: grid;
    grid-template-areas: "SearchForm FilterBtns";
    align-items: center;
}

.search-block__search-form {
    grid-area: SearchForm;
}

.search-block__filters {
    grid-area: FilterBtns;
}

.search-form {
    display: grid;
    justify-content: center;
    gap: 0px 10px;
    grid-template-areas: "Input Btns";
}

.search-form__input{
    grid-area: Input;
    display: grid;
    justify-items: center;
} 

.input-search {
    width: 20vw;
    font-size: 1.0em;
}

.is-invalid {
    border-radius: 10px;
    border: 1px solid #dc3545;
    color:#dc3545;
}

.is-invalid:focus {
    border: 1px solid #dc3545;
}

.invalid-feedback {    
    font-family: 'Jost', sans-serif;
}

.search-form__buttons-block {
    grid-area: Btns;
    grid-template-areas: "Btn1 Btn2";
    gap: 0px  10px;
    justify-content: space-around;
}

.btn-search {
    width: auto;
    height: 38px;
    padding: auto;
    font-size: 1.0em;
}

.btn-reset {
    background-color: #8B8787;
}

.filters {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0px 5px;
}

.btn-filters {
    font-family: 'Jost', sans-serif;
    font-size: 1.0em;

    border: 0;
    border-radius: 10px;
    background-color: #EBEBF5;
}

.btn-filters:hover {
    font-weight: bold;
    color:#9395D3;
    background-color: ;
    box-shadow: inset 0px 0px 0px 1px #9395D3;
}

.btn-filters:disabled {
    background-color: #8B8787;
    color: #FFFFFF;
    cursor: no-drop;
}

.active-filter {
    background-color: #9395D3;
    color: #FFFFFF;
}

.active-filter:hover {
    background-color: #FFFFFF;
    color: #9395D3;
}

